# check success of step ${last_step}:
retcode=$$?
if [ $$retcode != 0 ]; then
  echo ${last_step} failed 1>&2
#  python ${root_dir}/bin/provenance update -p '${pipeline.name}' --status 'failed in step ${last_step}'
  exit $$retcode
else
  echo ${last_step} passed 1>&2
fi
