sort -k 3,3 -k 4,4n ${readset['reads_file']}.mapsplice.sam > ${readset['reads_file']}.mapsplice.sorted.sam
rm ${readset['reads_file']}.mapsplice.sam
mv ${readset['reads_file']}.mapsplice.sorted.sam ${readset['reads_file']}.mapsplice.sam
${sh_cmd}
