# footer
echo
echo ${pipeline.name} finished
date
echo '****************************************************************'
echo 

echo 1>&2
echo 1>&2 ${pipeline.name} finished
date 1>&2
echo 1>&2 '****************************************************************'
echo 1>&2 