# header
echo
echo '****************************************************************'
echo starting ${pipeline.name}
echo

export PATH=${path}
export BOWTIE_INDEXES=${genomes_dir}
export PYTHONPATH=$${PYTHONPATH}:${root_dir}/lib