${sh_cmd}
exit_on_failure $$? ${name}
grep chr ${readsfile}.mapsplice/alignments.sam | perl -lane '$$F[1] == 16 ? print "$$_\tXS:A:-" : print "$$_\tXS:A:+"' > ${readsfile}.mapsplice.sam
exit_on_failure $$? ${name}
rm -rf ${readsfile}.mapsplice
